/* mobdeskimg.module.css */
.imageContainer {
  width: 100%;
  /* Ensure the image container fills the height of its parent */
  height: 980px; /* Adjust the height as needed */
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  
  .imageContainer {
    height: 465px; 
   
  }
}
